<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Account</title>
    </head>
    <body>
        
        this is my account info... <br>
        This page is password protected!
    </body>
</html>